<p>
  <h1>Welcome, <%= @user.last_name == (nil || "") ? @user.first_name : @user.first_name + " " + @user.last_name %>.</h1>
  <br><h2>You will never leave.</h2>
</p>
<%= link_to 'See All Users', users_path %>
