<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MONSTAGRAM!!!</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <style>
      @font-face { font-family: Fiddums; src: url('Fiddums.ttf'); }
      h1 {
        font-family: Fiddums
      }
      </style>
  </head>
  <body>
    <h1><br>Welcome to Monstagram ...</h1>
    <br>
    <%= link_to 'Register', new_user_path %>
  </body>
</html>
